body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}



.logo {
    height: 90px;
}

.logoimg {
    margin-left: 70px;
    height: 60px;
}

.menuleiste {
    text-decoration: none;
    padding: 10px;
    color: black;
    font-weight: bold;
    font-size: 21px;
    margin-bottom: -7px;
}

.navbar {
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    align-items: flex-end;
    margin-bottom: 20px;
    margin-right: 90px;
}

.menuleiste:hover {
    color: rgb(2, 214, 2);
}

h1 {
    font-size: 30px;
    margin-top: 39px;
    margin-left: 80px;
}

.header-rezept img {
    width: 1744px;
    aspect-ratio: 10 / 2;
    object-fit: cover;
    border-radius: 20px;
    height: 400px;
    margin-left: 80px;
}

.rezept-icon {
    margin-left: 80px;
    display: flex;
    gap: 12px;
    padding-top: 9px;
    justify-content: flex-start
}

.rezept-icon div {
    background-color: #e3e3e3;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.rezept-icon div img {
    width: 20px;
    height: 20px;
    border-radius: 0px;
}

.rezept-icon div span {
    padding-left: 10px;
}

.portion {
    display: flex;
    align-items: center;
    margin-left: 80px;
    margin-top: 65px;
}

input#portionInput {
    width: 120px;
    height: 25px;
    margin-left: 8px;
    border-style: revert;
    border-width: 1px;
    border-color: #bfbfbf !important;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    padding-left: 8px;
}

.portion button {
    height: 29px;
    background-color: #008000;
    color: white;
    padding-right: 15px;
    padding-left: 15px;
    border: none;
    margin-left: -2px;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    cursor: pointer;
    margin-top: -7px;
}

.fatty {
    font-family: 'Raleway-Bold', sans-serif;
    margin-left: 80px;
    font-size: 20px;
    margin-top: 30px;
}

section#rezept #zutaten span {
    padding: 14px;
    margin-left: 80px;
}

div#zutaten span {
    display: flex;
    gap: 5px;
}

section#rezept #zutaten span:nth-of-type(odd) {
    border-radius: 8px;
    margin-left: 80px;
    margin-right: 80px;
}

div#zubereitung {
    margin-top: -10px;
}

#profil p {
    font-size: 19px;
    font-weight: bold;
    margin-left: 174px;
    margin-top: -51px;
}

.profilimg {
    width: 80px;
    height: 80px;
    border-radius: 72px;
    margin-left: 80px;
}

footer {
    display: flex;
    background-color: rgb(29, 27, 27);
}

.impressum {
    color: #f1f1f1;
    text-decoration: none;
}

.datenschutz {
    color: #f1f1f1;
    text-decoration: none;
    margin-left: 56px;
}

.contact {
    color: #f1f1f1;
    text-decoration: none;
    margin-left: 56px;
}

.datenlink {
    margin-left: 296px;
    margin-top: 44px;
}

.imglogo {
    width: 338px;
    margin-left: 102px;
    filter: drop-shadow(0px 0px 5px #FFFFFF)
}

.impressum:hover {
    cursor: pointer;
    color: #02fa02;
}

.datenschutz:hover {
    cursor: pointer;
    color: #02fa02;
}

.contact:hover {
    cursor: pointer;
    color: #02fa02;
}

.fb {
    background-image: url(img/facebook_5968764.png);
    background-size: cover;
    height: 40px;
    width: 40px;
    margin-left: 483px;
    margin-top: 39px;
}

.ig {
    background-image: url(img/instagram_174855.png);
    background-size: cover;
    height: 40px;
    width: 40px;
    margin-left: 538px;
    margin-top: -39px;
}

.pin {
    background-image: url(img/pinterest_220214.png);
    background-size: cover;
    height: 40px;
    width: 40px;
    margin-left: 593px;
    margin-top: -39px;
}

.yout {
    background-image: url(img/youtube_1384060.png);
    background-size: cover;
    height: 40px;
    width: 40px;
    margin-left: 647px;
    margin-top: -41px;
}

.fb:hover {
    filter: drop-shadow(0px 0px 8px #1f63f8)
}

.ig:hover {
    filter: drop-shadow(0px 0px 8px #9d00f8)
}

.pin:hover {
    filter: drop-shadow(0px 0px 8px #ff0000)
}

.yout:hover {
    filter: drop-shadow(0px 0px 8px #ff0000)
}

@media (max-width: 1669px) {
    .header-rezept img {
        width: 1481px;
    }
}

@media (max-width: 1590px) {
    .header-rezept img {
        width: 1172px;
    }
}

@media (max-width: 1277px) {
    .header-rezept img {
        width: 825px;
    }
}

@media (max-width: 936px) {
    .header-rezept img {
        width: 429px;
    }
}

@media (max-width: 540px) {
    .header-rezept img {
        width: 310px;
        height: 274px;
    }

    .rezept-icon {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 445px) {
    .header-rezept img {
        width: 200px;
        margin-left: 54px;
        height: 189px;
    }

    section#rezept #zutaten span:nth-of-type(odd) {
        margin-left: 26px;
    }

    section#rezept #zutaten span {
        margin-left: 20px;
    }

    .profilimg {
        margin-left: 29px;
    }

    #profil p {
        margin-left: 126px;
    }

    h1 {
        margin-left: 55px;
    }

    .portion {
        margin-left: 19px;
        margin-right: 38px;
    }
}

@media (max-width: 1590px) {
    .fb {
        margin-left: 278px;
    }

    .ig {
        margin-left: 329px;
    }

    .pin {
        margin-left: 380px;
    }

    .yout {
        margin-left: 431px;
    }
}

@media (max-width: 1373px) {
    .fb {
        margin-left: 20px;
    }

    .ig {
        margin-left: 68px;
    }

    .pin {
        margin-left: 115px;
    }

    .yout {
        margin-left: 163px;
    }

    .datenlink {
        margin-left: -25px;
    }
}

.t-left {
    width: 1909px;
}

.zutat1 {
    background-color: #e3e3e3;
}

.zutat2 {
    background-color: #e3e3e3;
}

.zutat3 {
    background-color: #e3e3e3;
}

.zutat4 {
    background-color: #e3e3e3;
}

.zutat5 {
    background-color: #e3e3e3;
}

.zutat6 {
    background-color: #e3e3e3;
}

.author {
    margin-bottom: 50px;
}

.rezept-icon {
    margin-left: 80px;
    display: flex;
    gap: 12px;
    padding-top: 9px;
    justify-content: flex-start;
}